md-toolbar.navi(md-scroll-shrink)
  .md-toolbar-tools.navi-tools(layout="row" layout-align='left center' layout-align-xs='space-around center')
      h2(hide-xs)
        span 客户维护系统
      span(flex hide-xs)
      md-button.navi-tools-button(ng-repeat='(sref,navi) in cm.navigation' ui-sref='{{sref}}' name='{{sref}}') 
        i.fa(ng-class='navi.iconClass' hide-gt-xs)
        span.navi-txt {{navi.name}}
      span(flex=5 hide-xs)
      md-button.md-fab.md-mini.navi-tools-search-button(flex-order=10 md-colors="{background:'grey-800'}")
        md-icon search
md-content#mainView(flex ui-view='CM' layout='column' layout-fill flex-order-xs="-1")
