md-toolbar.navi
  background-color:#000
  .navi-tools
    .navi-tools-button
      i
        @media (max-width:600px)
          font-size:0.9em
      span.navi-txt
        margin-left 5px
.navi
  .navi-tools
    md-button.navi-tools-search-button
      margin-right 20px
      i.fa.fa-search
        font-size:1.3em
md-switch
  font-size 0.6em
  .md-label
    span
      color #555
  .md-thumb
      top 3px
      height 15px
      width 15px
      background-color rgb(150,150,150)
  .md-bar
      top 7px
      height 10px
      width 30px
      background-color #555

md-switch.md-checked
  .md-thumb
      background-color white
  .md-bar
      background-color #555
  .md-label
    span
      color white
md-switch[disabled]
  .md-bar
    background-color: #444
  .md-thumb
    background-color: #575757

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak 
  display: none !important;

@import './dashboard/mainDashboard/mainDashboard.styl'
