@import 'http://static.iflying.com/bower_components/angular-material/angular-material.min.css';
@import 'http://static.iflying.com/bower_components/font-awesome/css/font-awesome.min.css';
md-toolbar.navi{background-color:#000;}
@media (max-width:600px){md-toolbar.navi .navi-tools .navi-tools-button i{font-size:.9em}
}md-toolbar.navi .navi-tools .navi-tools-button span.navi-txt{margin-left:5px}
.navi .navi-tools md-button.navi-tools-search-button{margin-right:20px;}
.navi .navi-tools md-button.navi-tools-search-button i.fa.fa-search{font-size:1.3em}
.recentData{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;box-flex:1;-webkit-flex:1 0 auto !important;flex:1 0 auto !important;}
.recentData recent-task-complish-status.recentTaskComplishStatus,.recentData recent-user-task.recentUserTask,.recentData recent-joint-customer.recentJointCustomer{display:block;}
.recentData recent-task-complish-status.recentTaskComplishStatus md-toolbar,.recentData recent-user-task.recentUserTask md-toolbar,.recentData recent-joint-customer.recentJointCustomer md-toolbar{min-height:50px;}
.recentData recent-task-complish-status.recentTaskComplishStatus md-toolbar .md-toolbar-tools i,.recentData recent-user-task.recentUserTask md-toolbar .md-toolbar-tools i,.recentData recent-joint-customer.recentJointCustomer md-toolbar .md-toolbar-tools i{font-size:.9em;}
.recentData recent-task-complish-status.recentTaskComplishStatus md-toolbar .md-toolbar-tools i span,.recentData recent-user-task.recentUserTask md-toolbar .md-toolbar-tools i span,.recentData recent-joint-customer.recentJointCustomer md-toolbar .md-toolbar-tools i span{padding-left:6px}
.recentData md-divider{border-top-color:rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.2);border-left-color:rgba(0,0,0,0.2)}
md-toolbar.panelSetting{min-height:32px;height:32px;}
md-toolbar.panelSetting .md-toolbar-tools{height:32px;}
md-toolbar.panelSetting .md-toolbar-tools md-switch{font-size:.6em;}
md-toolbar.panelSetting .md-toolbar-tools md-switch .md-label span{color:#aaa}
md-toolbar.panelSetting .md-toolbar-tools md-switch .md-thumb{top:3px;height:15px;width:15px;background-color:#969696}
md-toolbar.panelSetting .md-toolbar-tools md-switch .md-bar{top:7px;height:10px;width:30px;background-color:#323232}
md-toolbar.panelSetting .md-toolbar-tools md-switch.md-checked .md-thumb{background-color:#fff}
md-toolbar.panelSetting .md-toolbar-tools md-switch.md-checked .md-bar{background-color:#666}
md-toolbar.panelSetting .md-toolbar-tools md-switch.md-checked .md-label span{color:#fff}
md-toolbar.panelSetting .md-toolbar-tools md-switch[disabled] .md-bar{background-color:rgba(51,51,51,0.15)}
md-toolbar.panelSetting .md-toolbar-tools md-switch[disabled] .md-thumb{background-color:#e1e1e1}
.basicCustomerData{background-color:#212121;padding:20px;font-family:georgia,verdana,sans-serif;}
.basicCustomerData .customer_count,.basicCustomerData .customer_icon,.basicCustomerData .customer_vistied{color:#fff;}
.basicCustomerData .customer_count .num,.basicCustomerData .customer_icon .num,.basicCustomerData .customer_vistied .num{font-size:3em;}
@media (max-width:600px){.basicCustomerData .customer_count .num,.basicCustomerData .customer_icon .num,.basicCustomerData .customer_vistied .num{font-size:2em}
}.basicCustomerData .customer_count .font,.basicCustomerData .customer_icon .font,.basicCustomerData .customer_vistied .font{font-size:3em;}
@media (min-width:600px){.basicCustomerData .customer_count .font,.basicCustomerData .customer_icon .font,.basicCustomerData .customer_vistied .font{height:64px;width:32px}
}@media (max-width:600px){.basicCustomerData .customer_count .font,.basicCustomerData .customer_icon .font,.basicCustomerData .customer_vistied .font{font-size:2em}
}.basicCustomerData .customer_count .info,.basicCustomerData .customer_icon .info,.basicCustomerData .customer_vistied .info{font-family:verdana;margin-top:10px;font-size:.9em;color:#fff}
.basicCustomerData .customer_count .basicDashboardButton,.basicCustomerData .customer_icon .basicDashboardButton,.basicCustomerData .customer_vistied .basicDashboardButton{font-size:1.2em}
@media (max-width:600px){.basicCustomerData .customer_icon{margin:10px 0 20px 0}
}.basic-customer-statistic{height:70px;background-color:#212121;padding-bottom:10px}
.c3-tooltip-container .c3-tooltip{border-collapse:collapse;border-color:transparent;background-color:transparent;}
.c3-tooltip-container .c3-tooltip th{background-color:#616161}
basic-chart#operationStatusChart .c3{padding-bottom:20px;background-color:inherit;}
basic-chart#operationStatusChart .c3 svg g.c3-axis-x path.domain{stroke:#01579b}
basic-chart#operationStatusChart .c3 svg g.c3-axis-x g.tick line{display:none}
.c3-legend-item{font-size:1em}
