.basicCustomerData
  background-color: #78909C

  padding 20px
  font-family georgia,verdana,sans-serif
  .customer_count
  .customer_icon
  .customer_vistied
    color #fff
    .num
    .font
      font-size 3em
      @media (max-width:600px)
        font-size 2em
    .info
      font-family:verdana
      margin-top 10px
      font-size 0.9em
      color #fff
    .basicDashboardButton
      font-size 1.2em
  @media (max-width:600px)
    .customer_icon
      margin 10px 0 0 0
