//output:../../../../../../imports/ui/dashboard/components/basicCustomerData/basicCustomerData.html
.customer_count.animated.bounceInLeft(flex flex-xs='noshrink' align='center') 
    .num_with_button(layout='row' layout-align='center center')
      .num(flex='nogrow') 30203
      md-button.md-fab.md-mini.basicDashboardButton.addCustomer(flex='none' md-colors="{background:'blue-grey-900'}" aria-label="Add Customer")
        i.fa.fa-plus
        md-tooltip(md-direction='right') 添加会员
    .info 总会员数量
    
.customer_icon(align='center' flex-xs='100' flex-order-xs=-1)
    i.fa.fa-male.font(ng-repeat='f in basicCustomerData.fa')
    md-tooltip(md-direction='bottom') 每增加500人，这里的小人会增加一个
    
.customer_vistied.animated.bounceInRight(align='center' flex flex-xs='noshrink')
    .num_with_button(layout='row' layout-align='center center')
      .num(flex='nogrow') 335
      md-button.md-fab.md-warn.md-mini.basicDashboardButton(md-colors='{background:"blue-grey-900"}' flex='none' aria-label="Assign Tasks")
        i.fa.fa-tasks
        md-tooltip(md-direction='right') 分配任务
    .info 本周已经回访
  
