.basic-customer-statistic
  height 70px
  // background: linear-gradient(bottom,rgb(250,250,250), white);

.recentData
  margin-top:20px
  flex: 1 0 auto !important;
  recent-task-complish-status.recentTaskComplishStatus
  recent-user-task.recentUserTask
  recent-joint-customer.recentJointCustomer
    display block
    md-toolbar
      height 36px
      min-height 36px
      .md-toolbar-tools
        height 36px


@import '../components/basicCustomerData/basicCustomerData.styl'
@import '../components/basicCustomerStatistic/basicCustomerStatistic.styl'
