.recentData
  flex: 1 0 auto !important;
  recent-task-complish-status.recentTaskComplishStatus
  recent-user-task.recentUserTask
  recent-joint-customer.recentJointCustomer
    display block
    md-toolbar
      height 50px
      min-height 50px
      // background-color: white
      .md-toolbar-tools
        height 50px
        i
          font-size:0.9em
          // color:#ddd
          span
            padding-left 6px
  md-divider
    border-top-color: rgba(0,0,0,0.2)
    border-right-color:rgba(0,0,0,0.2)
    border-left-color:rgba(0,0,0,0.2)

@import '../components/basicCustomerData/basicCustomerData.styl'
@import '../components/basicCustomerStatistic/basicCustomerStatistic.styl'
@import '../components/list/simpleList/recentTaskComplishStatus/recentTaskComplishStatus.styl'
