//output: ../../../../../imports/ui/dashboard/mainDashboard/mainDashboard.html
basic-customer-data.basicCustomerData(layout-wrap layout='row' layout-align='space-around center')
basic-customer-statistic.basic-customer-statistic(layout='row' layout-xs='column' layout-align='space-around center')

  
