//output: ../../../../../imports/ui/dashboard/mainDashboard/mainDashboard.html

basic-customer-data.basicCustomerData(ng-show="mainDashboard.panelStatus.basicCustomerData.show" flex='none' layout-wrap layout='row' layout-align='space-around center')
basic-customer-statistic.basic-customer-statistic(ng-show="mainDashboard.panelStatus.basicCustomerStatistic.show" flex='none' layout='row'  layout-align='center end')
.recentData(layout-gt-md='row' layout='column' layout-fill-gt-xs)
  recent-task-complish-status.recentTaskComplishStatus(ng-show="mainDashboard.panelStatus.recentTaskComplishStatus.show" flex-xs='nogrow' flex-gt-md=66  panel='mainDashboard.panelStatus')
  recent-user-task.recentUserTask(ng-show="mainDashboard.panelStatus.recentUserTask.show" flex-gt-md=66 flex-xs='nogrow' panel='mainDashboard.panelStatus')
  recent-joint-customer.recentJointCustomer(ng-show="mainDashboard.panelStatus.recentJointCustomer.show" flex-xs='nogrow' flex-gt-md=66 panel='mainDashboard.panelStatus')
