//output: ../../../../../imports/ui/dashboard/mainDashboard/mainDashboard.html
div#mainDashboard
  md-content.md-padding(layout='row')
    div(flex=66) this is a game
    div(flex=33) this is another game
    
