basic-chart#operationStatusChart
  .c3
    padding-bottom:20px
    background-color: inherit;
    svg
      g.c3-axis-x
        path.domain
          stroke: #01579B
        g.tick
          line
            display none
.c3-legend-item
  font-size 1em
