basic-chart#operationStatusChart
  .c3
    padding-bottom:20px
    background-color: inherit;
    svg
      g.c3-axis-x
        path.domain
          stroke: #01579B
        g.tick
          line
            display none
.c3-legend-item
  font-size 1em


.move-left.ng-show,
.move-left.ng-hide
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: inline;
}

.move-left.ng-show.ng-show-active,
.move-left.ng-hide {
    opacity: 0;
    left: -50px;
    width:0;
}

.move-left.ng-hide.ng-hide-active,
.move-left.ng-show {
    opacity: 0;
    left: 0;

}
