
<div flex="flex" flex-xs="noshrink" align="center" class="customer_count animated bounceInLeft"> 
  <div layout="row" layout-align="center center" class="num_with_button">
    <div flex="nogrow" class="num">30203</div>
    <md-button flex="none" md-colors="{background:'yellow-A700'}" aria-label="Add Customer" class="md-fab md-mini basicDashboardButton addCustomer"><i class="fa fa-plus"></i>
      <md-tooltip md-direction="right">添加会员</md-tooltip>
    </md-button>
  </div>
  <div class="info">总会员数量</div>
</div>
<div align="center" flex-xs="100" flex-order-xs="-1" class="customer_icon animated slideInDown"><i ng-repeat="f in basicCustomerData.fa" class="fa fa-male font"></i>
  <md-tooltip md-direction="bottom">每增加500人，这里的小人会增加一个</md-tooltip>
</div>
<div align="center" flex="flex" flex-xs="noshrink" class="customer_vistied animated bounceInRight">
  <div layout="row" layout-align="center center" class="num_with_button">
    <div flex="nogrow" class="num">335</div>
    <md-button md-colors="{background:&quot;yellow-A700&quot;}" flex="none" aria-label="Assign Tasks" class="md-fab md-warn md-mini basicDashboardButton"><i class="fa fa-tasks"></i>
      <md-tooltip md-direction="right">分配任务</md-tooltip>
    </md-button>
  </div>
  <div class="info">本周已经回访</div>
</div>