md-content.simpleListContent(layout='column' flex md-colors="{background:'{{$ctrl.theme.listColor}}'}")
  section
    md-subheader.md-primary(md-colors="{background:'{{$ctrl.theme.listColor}}'}") {{$ctrl.theme.chartTitle}} 
    basic-chart(component="$ctrl.ID" config='$ctrl.chart')
    md-list
      md-list-item.md-3-line.md-long-text(ng-repeat="item in [1,2,3,4,5,6]" ng-click='null' )
        .md-list-item-text(layout='column')
          h3 汪峰
          h4 北京，北京
          p 当我走在这里的每一条街道
//rank
//search
//list common
//list started
//static
//chart
//detail
//workflow
//newsfeed
//calendar
//file uploader
//fileList
//messager
//salary
//clock
//calculator
//weather report
