
<md-toolbar md-scroll-shrink="md-scroll-shrink" md-colors="{background:'{{$ctrl.theme.toolbarColor}}'}">
  <div layout="row" layout-align="space-between center" class="md-toolbar-tools">
    <md-menu flex="flex" align="left">
      <md-button ng-click="$mdOpenMenu()" class="md-icon-button">
        <md-icon md-colors="{color:'grey-500'}" md-menu-origin="md-menu-origin">menu</md-icon>
        <md-tooltip>菜单</md-tooltip>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item ng-repeat="menuitem in $ctrl.menu.action">
          <md-button ng-class="menuitem.name" ng-disabled="menuitem.name==$ctrl.panel[$ctrl.ID].status" ng-if="menuitem.target" md-menu-align-target="md-menu-align-target" ng-click="menuitem[&quot;action&quot;]()"> 
            <md-icon>{{menuitem.icon}}</md-icon>{{menuitem.title}}
          </md-button>
          <md-button ng-class="menuitem.name" ng-disabled="menuitem.name==$ctrl.panel[$ctrl.ID].status" ng-if="menuitem.target==false" ng-click="menuitem[&quot;action&quot;]()"> 
            <md-icon>{{menuitem.icon}}</md-icon>{{menuitem.title}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <section ng-cloak="ng-cloak" flex="flex" align="center" ng-hide="$ctrl.panelmode=='fullscreen'" class="panelToolbar">{{$ctrl.theme.title}}      </section>
    <md-menu flex="flex" align="right">
      <md-button ng-click="$mdOpenMenu()" class="md-icon-button">
        <md-icon md-colors="{color:'grey-500'}" md-menu-origin="md-menu-origin" ng-click="$mdOpenMenu()">desktop_windows</md-icon>
        <md-tooltip>显示</md-tooltip>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item ng-repeat="menuitem in $ctrl.menu.display">
          <md-button ng-class="menuitem.name" ng-disabled="menuitem.name==$ctrl.panel[$ctrl.ID].status" ng-if="menuitem.target" md-menu-align-target="md-menu-align-target" ng-click="menuitem[&quot;action&quot;]()"> 
            <md-icon>{{menuitem.icon}}</md-icon>{{menuitem.title}}
          </md-button>
          <md-button ng-class="menuitem.name" ng-disabled="menuitem.name==$ctrl.panel[$ctrl.ID].status" ng-if="menuitem.target==false" ng-click="menuitem[&quot;action&quot;]()"> 
            <md-icon>{{menuitem.icon}}</md-icon>{{menuitem.title}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<md-subheade id="panelFilter" md-colors="{background:'grey-50'}" layout-wrap="layout-wrap" layout="column" layout-align="center center" ng-class="{'fadeInDown':$ctrl.panelmode=='fullscreen'&amp;&amp;$ctrl.panel[$ctrl.ID].show}" ng-cloak="ng-cloak" flex="100" ng-show="$ctrl.panelmode=='fullscreen'&amp;&amp;$ctrl.panel[$ctrl.ID].show" class="animated">
  <div layout="row" flex="100" class="filterFirstRow">
    <md-input-container flex="flex" align="left" ng-repeat="(inputID,input) in $ctrl.filters.input">
      <md-icon>{{input.icon}}</md-icon>
      <label>{{input.label}}</label>
      <input type="text"/>
    </md-input-container><span flex="flex"></span><span flex="flex" layout="row" align="right" layout-align="center center">
      <md-switch ng-show="$ctrl.filters.bottomSelect" ng-model="$ctrl.filter.showMoreFilter" class="rightSwitch md-primary">显示高级搜索</md-switch>
      <md-switch ng-true-value="{{switch.valueTrue}}" ng-false-value="{{switch.valueFalse}}" ng-repeat="(switchKey,switch) in $ctrl.filters.rightSwitch" ng-model="$ctrl.filter[switchKey]" class="rightSwitch md-primary">{{switch.name}}
        <md-tooltip>{{switch.info}}</md-tooltip>
      </md-switch></span>
  </div>
  <div layout="row" flex="100" layout-align="center center" ng-show="$ctrl.filters.bottomSelect&amp;&amp;$ctrl.filter.showMoreFilter" class="filterSecondRow"><span class="spanTip">筛选</span><span align="left" ng-repeat="(filterID,filter) in $ctrl.filters.bottomSelect" class="selectSpan"><span ng-if="filter.multiSelect &amp;&amp; filter.input">
        <md-input-container>
          <label>{{filter.label}}</label>
          <md-select ng-model="$ctrl.filter[filterID]" md-on-close="$ctrl.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple="multiple">
            <md-select-header class="demo-select-header">
              <input id="gameInput" ng-model="$ctrl.searchTerm" type="search" placeholder="{{filter.placeHolder}}" class="demo-header-searchbox"/>
            </md-select-header>
            <md-optgroup label="{{filter.label}}">
              <md-option ng-value="option.value" ng-repeat="option in filter.options|filter:$ctrl.searchTerm">{{option.key}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container></span><span ng-if="!filter.multiSelect &amp;&amp; filter.input">
        <md-input-container>
          <label>{{filter.label}}</label>
          <md-select ng-model="$ctrl.filter[filterID]" md-on-close="$ctrl.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
            <md-select-header class="demo-select-header">
              <input id="gameInput" ng-model="$ctrl.searchTerm" type="search" placeholder="{{filter.placeHolder}}" class="demo-header-searchbox"/>
            </md-select-header>
            <md-optgroup label="{{filter.label}}">
              <md-option ng-value="option.value" ng-repeat="option in filter.options|filter:$ctrl.searchTerm">{{option.key}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container></span><span ng-if="filter.multiSelect &amp;&amp; !filter.input">
        <md-input-container>
          <label>{{filter.label}}</label>
          <md-select ng-model="$ctrl.filter[filterID]" multiple="multiple">
            <md-optgroup label="{{filter.label}}">
              <md-option ng-value="option.value" ng-repeat="option in filter.options">{{option.key}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container></span><span ng-if="!filter.multiSelect &amp;&amp; !filter.input">
        <md-input-container>
          <label>{{filter.label}}</label>
          <md-select ng-model="$ctrl.filter[filterID]">
            <md-optgroup label="{{filter.label}}">
              <md-option ng-value="option.value" ng-repeat="option in filter.options">{{option.key}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container></span></span><span flex="flex"></span>
    <md-button> 
      <md-icon>sort </md-icon>排序
    </md-button>
  </div>
</md-subheade>
<md-content layout="column" flex="flex" md-colors="{background:'{{$ctrl.theme.listColor}}'}" class="simpleListContent">  
  <section>
    <md-subheader md-colors="{background:'{{$ctrl.theme.listColor}}'}" class="md-primary">{{$ctrl.theme.chartTitle}} </md-subheader>
  </section>
  <section>
    <basic-chart component="$ctrl.ID" config="$ctrl.chart"></basic-chart>
    <md-list>
      <md-list-item ng-repeat="item in [1,2,3,4,5,6]" ng-click="null" class="md-3-line md-long-text">
        <div layout="column" class="md-list-item-text">
          <h3>汪峰</h3>
          <h4>北京，北京</h4>
          <p>当我走在这里的每一条街道</p>
        </div>
      </md-list-item>
    </md-list>
  </section>
</md-content>
<!--rank-->
<!--search-->
<!--list common-->
<!--list started-->
<!--static-->
<!--chart-->
<!--detail-->
<!--workflow-->
<!--newsfeed-->
<!--calendar-->
<!--file uploader-->
<!--fileList-->
<!--messager-->
<!--salary-->
<!--clock-->
<!--calculator-->
<!--weather report-->