
<md-toolbar layout="row" md-colors="{background:&quot;blue-grey-100&quot;}">
  <div class="md-toolbar-tools"><span>顾客</span></div>
</md-toolbar>
<md-content>
  <md-list flex="noshrink">
    <md-subheader class="md-no-sticky">李森松</md-subheader>
    <md-list-item ng-repeat="item in [1,2,3,4,5,6]" ng-click="null" class="md-3-line">
      <div layout="column" class="md-list-item-text">
        <h3>黄宇</h3>
        <h4>好人</h4>
        <p>这是一场没有解决的表扬</p>
      </div>
    </md-list-item>
  </md-list>
  <md-divider></md-divider>
</md-content>