//output:../../../../imports/ui/CM/CM.html
div#CM
  md-content.cm-navigation
    md-nav-bar(md-selected-nav-item='currentNavItem' nav-bar-aria-label='navigation links')
      
    div.container(ui-view="")
