//out: ../../../../imports/ui/CM/CM.css,compress:true

.navi
  .navi-tools
    .navi-tools-button
      i
        @media (max-width:600px)
          font-size:1.5em
      span.navi-txt
        margin-left 5px
md-button.navi-tools-button
  @media (max-width:600px)
      line-height auto

@import '../dashboard/mainDashboard/mainDashboard.styl'
