//out: ../../../../imports/ui/CM/CM.css,compress:true
md-toolbar.navi
  background-color:#000
  .navi-tools
    .navi-tools-button
      i
        @media (max-width:600px)
          font-size:0.9em
      span.navi-txt
        margin-left 5px
.navi
  .navi-tools
    md-button.navi-tools-search-button
      margin-right 20px
      i.fa.fa-search
        font-size:1.3em

[ui-view="cm"] : nth-child(2) 
    display:none;

@import '../dashboard/mainDashboard/mainDashboard.styl'
