//out: ../../../../imports/ui/CM/CM.css,compress:true
md-divider
  margin-bottom 0
md-toolbar.navi
  .navi-tools
    .navi-tools-button
      i
        @media (max-width:600px)
          font-size:0.9em
      span.navi-txt
        margin-left 5px
md-button.navi-tools-search-button
  i.fa.fa-search
    font-size:1.3em

@import '../dashboard/mainDashboard/mainDashboard.styl'
