//output:../../../../imports/ui/CM/CM.html
div#CM(layout='column' layout-fill)

  md-nav-bar.cm-nav-bar( layout='row' layout-align='center' md-selected-nav-item='cm.currentNavItem' nav-bar-aria-label='navigation links')
      md-nav-item(flex ng-repeat='(sref,navi) in cm.navigation' md-nav-sref='{{sref}}' name='{{sref}}') {{navi.name}}
  div.container(ui-view="CM" role='main')

  md-bottom-sheet.md-grid.bottom-navi(flex='nogrow' layout='column')
    md-list.bottom-navi-list(flex layout='row' layout-align='space-around center')
      md-list-item.bottom-navi-list-item(ng-repeat='(sref,navi) in cm.navigation')
        md-button.md-grid-item-content.bottom-navi-list-item-button(ui-sref='{{sref}}' name='{{sref}}')
          i.fa.button-icon(ng-class='navi.iconClass')
          .md-grid-text {{navi.name}}
    
        
      
          
          
          

              
