md-content.recentData(flex layout-fill layout-xs='column' layout="row")
  recent-task-complish-status#recentTaskComplishStatus.recentTaskComplishStatus.simpleList(flex ng-class="{hiddenFlex:!mainDashboard.panelStatus.recentTaskComplishStatus.show}" layout='column' panelmode='mainDashboard.panelmode'  panel='mainDashboard.panelStatus')
  recent-user-task#recentUserTask.recentUserTask.simpleList(flex ng-class="{hiddenFlex:!mainDashboard.panelStatus.recentUserTask.show}" layout='column' panelmode='mainDashboard.panelmode' panel='mainDashboard.panelStatus')
  recent-joint-customer#recentJointCustomer.recentJointCustomer.simpleList(flex ng-class="{hiddenFlex:!mainDashboard.panelStatus.recentJointCustomer.show}" layout='column' panelmode='mainDashboard.panelmode' panel='mainDashboard.panelStatus')
