//output:../../../../../../imports/ui/dashboard/components/basicCustomerStatistic/basicCustomerStatistic.html
//- #chart(flex=50)
//- #chart1(flex=50)
//-   c3-chart#c1(height=20 data='basicCustomerStatistic.data' label='"订单"' axis='basicCustomerStatistic.axis')
//- #chart2(flex=50)
//-   c3-chart#c2(data='basicCustomerStatistic.data' label='"订单"' axis='basicCustomerStatistic.axis')
basic-chart(flex id='testC3' config='basicCustomerStatistic.dada')
basic-chart(flex id='testC32' config='basicCustomerStatistic.dada')
