//output:../../../../../../imports/ui/dashboard/components/basicCustomerStatistic/basicCustomerStatistic.html
basic-chart.animated.fadeInUp(flex layout='column' id='operationDiagram' config='basicCustomerStatistic.dada')
