
.basic-customer-statistic
  height 70px
  background-color #212121
  // background: linear-gradient(bottom,rgb(250,250,250), white);
  padding-bottom 10px

.c3-tooltip-container
  .c3-tooltip
    border-collapse:collapse;
    border-color transparent
    background-color  transparent
    th
      background-color #616161
